/TAD-Sequencia/nbproject/private/
/TAD-sequencia-lista-duplamente-ligada/nbproject/private/
/TAD-sequencia-lista-duplamente-ligada/build/
/TAD-sequencia-vetor/nbproject/private/
/Lista1/nbproject/private/
/Lista1/build/
/TAD-sequencia-vetor/build/
/TAD-arvore-binaria/nbproject/private/
/TAD-arvore-binaria/build/